.top-nav{
  float: left;
  width: 100%;
}
.top-nav ul{
	padding:0;
	margin:0;
}
.top-nav ul  li{
  display: inline-block;
  width: 33%;
  margin-right: .1em;
  float: left;
}
.top-nav ul  li.active{
	background: #bb1e10;
	background-color:#22252c;
}
.top-nav ul li a{
	color: #FFF;
	font-size: 18px;
	margin-right: .4em;
	float: left;
	padding: 1em 0em 1em 0em;
	text-align: center;
	width: 100%;
}
.top-nav ul li a i{
	display: block;
	margin-top: 1em;
	color: #FFF;
	font-size: 11px;
	font-style: italic;
}
.top-nav ul li a:hover{
	text-decoration:none;
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;                                           
  vertical-align: middle;
  -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
    -ms-osx-font-smoothing: grayscale;
        -o-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
    -o-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #22252c;
  -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
    -o-transition-property: transform;
  -moz-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.a-banner{
	min-height: 54px;
	background-color:#123456;
}

.group_table{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
.group_table td, #customers th {
	font-size:1.3em;
	border:1px solid #98bf21;
	height:30px;
	text-align:center;
	vertical-align:middle;
}
.group_table th {
	height:40px;
	font-size:1.5em;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}
.group_table tr td {
	color:#000000;
	background-color:#EAF2D3;
}
.atrl {
  padding-top:10px;
}

.add_table{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
}

.ip_info {
  width:100px; 
  text-align:center;
}
